{% extends "base.html" %} {% block content %}
<h1>
    <b>REMOVE PATIENT</b>
</h1>

    <div class="columns">
        <div class="column ">
            <form method="POST" action="/removePatient">
                {% csrf-field %}
                <div class="field">
                    <label class="label" for="id">
                    Choose patient
                    </label>
                    {% if errors.id %}
                    <div class="notification is-danger">
                        {{errors.id|join}}
                    </div>
                    {% endif %}
                    <select class="input" name="id" id="id" st>
                        {% for item in patients %}
                        <option value={{item.idpatient}}>{{item.name}} {{item.surname}} - {{item.healthcardnumber}}</option>
                        {% endfor %}
                    </select>
                </div>
                <input type="submit" class="button is-primary" value="Remove patient" />
            </form>
        </div>
    </div>


{% endblock %}