{% extends "base.html" %} {% block content %}
<h1>
    <b>UPDATE APPOINTMENT</b>
</h1>
<form method="POST" action="/editAppointment">
    <div class="columns">
        <div class="column ">
            <div class="field">
                <label class="label" for="idAppointment">
                    Choose appointment
                </label>
                <select class="input" name="idAppointment" id="idAppointment">
                    {% for item in appointments %}
                    <option value={{item.idappointment}}>{{item.idappointment}} | {{item.treatmentname}} - {{item.name}} {{item.surname}} - {{item.date}}/ {{item.time}}h</option>
                    {% endfor %}
                </select>
            </div>
            <div class="field">
                <label class="label" for="idPatient">
                    Choose patient
                </label>
                <select class="input" name="idPatient" id="idPatient">
                    {% for item in patients %}
                    <option value={{item.idpatient}}>{{item.name}} {{item.surname}} - {{item.healthcardnumber}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="field">
                <label class="label" for="idTreatment">
                    Choose treatment
                </label>
                <select class="input" name="idTreatment" id="idTreatment">
                    {% for item in treatments %}
                    <option value={{item.idtreatment}}>{{item.treatmentname}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="columns">
        {% csrf-field %}

        <div class="column ">
            <div class="field">
                <label class="label" for="date"> Date </label>
                {% if errors.date %}
                <div class="notification is-danger">
                    {{errors.date|join}}
                </div>
                {% endif %}
                <input class="input" type="date" id="date" name="date" value="{{date}}" />
            </div>
        </div>
        <div class="column">
            <div class="field">
                <label class="label" for="time"> Time </label>
                {% if errors.time %}
                <div class="notification is-danger">
                    {{errors.time|join}}
                </div>
                {% endif %}
                <input class="input" type="time" id="time" name="time" value="{{time}}" />
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <input type="submit" class="button is-primary" value="Update appointment" />
        </div>
    </div>
</form>
{% endblock %}