<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Health center Active</title>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bulma.min.js"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bulma.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.css'>


      <!-- styles -->
    {% style "/assets/bulma/css/bulma.min.css" %}
    {% style "/assets/material-icons/css/material-icons.min.css" %}

    {% style "/css/screen.css" %}
  </head>
  <script>
      $(document).ready(function () {
          $('#table').DataTable();
      });
  </script>
  <body>
      <!-- navbar -->
      <nav class="navbar is-info">
          <div class="container">
              <div class="navbar-brand">
                  <a class="navbar-item" href="/" style="font-weight:bold;">ACTIVE</a>
                  <span class="navbar-burger burger" data-target="nav-menu">
                      <span></span>
                      <span></span>
                      <span></span>
                  </span>
              </div>
              <div id="nav-menu" class="navbar-menu">
                  <div class="navbar-start">
                      <a href="/" class="navbar-item{% ifequal page "home.html" %} is-active{%endifequal%}">Home</a>
                      <a href="/patients" class="navbar-item{% ifequal page "patients.html" %} is-active{%endifequal%}">Patients</a>
                      <a href="/appointments" class="navbar-item{% ifequal page "appointments.html" %} is-active{%endifequal%}">Appointments</a>
                      <a href="/treatments" class="navbar-item{% ifequal page "treatments.html" %} is-active{%endifequal%}">Treatments</a>

                  </div>
                  <div class="navbar-end">
                      <a href="/appointmentHistory" class="navbar-item{% ifequal page "completedApps.html" %} is-active{%endifequal%}">Appointment history</a>
                  </div>
              </div>
          </div>
      </nav>

      <section class="section">
          <div class="alignCenter content">
              {% block content %}
              {% endblock %}
          </div>
      </section>

    <!-- scripts -->
    <script type="text/javascript">
      (function() {
        var burger = document.querySelector('.burger');
        var nav = document.querySelector('#'+burger.dataset.target);
        burger.addEventListener('click', function(){
          burger.classList.toggle('is-active');
          nav.classList.toggle('is-active');
        });
      })();
    </script>

    
    {% block page-scripts %}
    {% endblock %}
  </body>
</html>
